@media screen and (max-width: 804px){

    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
    }

    ul{
        text-align: center;
    }
    
    #beneficios-text {
        font-family: poppinsregular;
    }

    #contato img {
        display:flex;
    }


    

    #about {
        display: flex;
        flex-direction: column;
       
        
    }

    #rafa-imagem {
        border-radius: 20px;
        margin: 0 auto;
    }

    #servicos-funcional {
        display: flex;
        flex-direction: column;
    }
    

    
    #servicos-title {
        display: flex;
        justify-content: center;
        color:#ebb906;
        margin-bottom: 30px;
    }

    #servicos-musculacao {
        display: flex;
        flex-direction: column;
        
        margin-top: 10px;
       
    }

    .gymMenu {
        width: 250px;
        height: 250px;
    }
}


@media screen and (max-width: 759px){

    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img {
        width: 300px;
        height: 300px; 
    }
    #about {
        display: flex;
        flex-direction: column;
       
        
    }

    #rafa-imagem {
        border-radius: 20px;
        margin-left: -50px;

    }

    #servicos-funcional {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    
    #servicos-title {
        display: flex;
        justify-content: center;
        color:#ebb906;
        margin-bottom: 30px;
    }
    

    ul{
        text-align: center;
    }
    
    #beneficios-text {
        line-height: normal;
        font-family: poppinsregular;
    }

    #contato img {
        display:flex;
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 640px) {
#servicos-funcional {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#servicos-title {
    display: flex;
    justify-content: center;
    color:#ebb906;
    margin-bottom: 30px;
}

}

@media screen and (max-width: 520px) {
    .gymMenu {
        width: 350px;
        height: 350px;
    }
}